lightning-input {margin: 10px;}
article {
    background-color: #fafafa;
    margin: 10px;
    padding: 15px 10px 10px 10px;
    border-radius: 3px;
    position: relative;
}
article h3 {
    font-weight: bold;
    font-size: 14px;
    display: inline;
}
lightning-button-icon {position: absolute; top: 10px; right: 10px;}
article p {font-size: 12px;}
:host {
        --sds-c-card-color-background: lightblue;
}

.card, .avatar-info {display: flex; flex-wrap:wrap; justify-content: center;}
.avatar-info {margin-top: 15px;}
.avatar-info span {margin-right: 5px;}
